[SddmGreeterTheme]
Name=Sugar-Candy-Aerial
Description=Aerial HD Video Stream
Author=bimokn97
Copyright=(c) 2021, Bimo Kristianto N
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/bimokn97/sugar-candy-aerial
Screenshot=screens/screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
Email=bimokn97@pm.me
Theme-Id=aerial-candy-sddm
Theme-API=2.0
